<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="description" content="Dnaritag">
    <meta name="author" content="Dnarity">

    <title>Dnaritag</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-92993280-1', 'auto');
      ga('send', 'pageview');
    </script>
    <script>
     function check_all(libs) {
       var checked = true;
       libs.forEach(function(l) {
         if(!window[l]) {
           checked = false;
         };
       });
       return checked;
     };

     function check_libraries(libs, fn) {
       return function() {
         if(check_all(libs)) {
           fn();
         } else {
           run_when_libraries(libs, fn);
         }
       };
     };

     function run_when_libraries(libs, fn) {
       setTimeout(check_libraries(libs, fn), 300);
     };
    </script>
  </head>
  <body>
    <main>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
