body {
  background-repeat: no-repeat;
  /* background-position: center; */
  background-attachment: fixed;
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url("/images/landing/1920x1200.jpg");
}