<link rel="stylesheet" href='<%= "/css/page/index.css" %>'>
<%= render Dnaritag.PageView, "header.html", conn: @conn %>
<%= render "search_provider_modal.html" %>
<div class="container">
  <div class="row dna-tagline-container">
    <div class="col-12 text-center">
      <h1 class="dna-tagline">Convierte lo Físico en Digital</h1>
      <hr/>
      <button class="btn btn-lg"
        data-target="#search-provider-modal"
        data-toggle="modal"
        id="check-certificate">VALIDA TU CÓDIGO AQUÍ</button>
    </div>
  </div>
</div>
