<div id="search-provider-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Selecciona la Marca</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <div id="search-box" class="form-group">
              <input type="search" class="typeahead form-control"
                placeholder="Escribe aquí el nombre de la marca"
                autocomplete="off">
            </div>
          </div>
        </div>
      </div> <!-- modal-body -->
    </div> <!-- modal-content -->
  </div> <!-- modal-dialog -->
</div> <!-- modal -->

<script>
 function goToValidations(_ev, suggestion) {
   window.location.replace(`/providers/${suggestion.id}/validations`);
 };
 run_when_libraries(['jQuery'], function() {
   var sb = '#search-box .typeahead';
   require("web/static/js/providers.js").default(sb, goToValidations);
   $('#search-provider-modal').on('shown.bs.modal', function (e) {
     $(sb).focus();
   })
 });
</script>
