<div class="mdl-card__title mdl-color--grey-200">
  <span class="dna-center">
    <h2 class="mdl-card__title-text">Show Provider</h2>
  </span>
</div>

<div class="dna-card__content mdl-card__supporting-text">
  <div class="mdl-grid mdl-color--white">
    <ul>

      <li>
        <strong>Name:</strong>
        <%= @provider.name %>
      </li>

    </ul>
  </div>
</div>

<div class="mdl-color--grey-100 mdl-card__actions mdl-card--border">
  <%= link "Edit", to: provider_path(@conn, :edit, @provider), class: "mdl-button" %>
  <%= link "Back", to: provider_path(@conn, :index), class: "mdl-button" %>
</div>
