<link rel="stylesheet" href='<%= "/images/providers/#{@provider.id}/style.css" %>'>
<div class="dna-vertical-container container">
  <div class="dna-vertical-container row align-items-center">
    <div class="hidden-sm-down col-md-6 text-center">
      <img alt="" src='<%= "/images/providers/#{@provider.id}/logo.svg" %>' />
    </div>
    <div class="col-12 col-md-6">
      <%= render "validation_card.html", conn: @conn, provider: @provider %>
    </div>
  </div>
</div>
