<div class="card">
  <div class="card-header text-center">
    <h3><%= @provider.name %></h3>
    <h6 class="card-subtitle mb-2 text-muted">Introduce tu Código</h6>
  </div>
  <div class="dna-certificate card-block">
    <div id="dna-validation">
      <div>
        <div id="bar"></div>
        <hr class="my-2">
        <div id="grid"></div>
      </div>
    </div>
    <hr class="my-2">
    <div class="form-group">
      <a id="dna-validate-button" href="#" class="btn btn-default form-control">VALIDAR</a>
    </div>
    <p class="alert alert-danger"><%= get_flash(@conn, :error) %></p>
  </div>
</div>
<script>
 run_when_libraries(['jQuery'], function () {
   var Tag = require('web/static/js/Components/tag.js').default;
   var bar = $('#bar');
   var brand = '<%= @provider.id %>';
   bar.append(Tag.buildBar(brand));
   var grid = $('#grid');
   grid.append(Tag.buildGrid());
   Tag.initSelector(brand);
 });
</script>
