<div class="row mt-4 justify-content-center">
  <div class="col-12 col-md-8 col-lg-4">
    <div class="form-group">
      <%= link "Agrega una nueva experiencia a tu Colección", to: "/providers/", class: "btn btn-block btn-primary" %>
    </div>
  </div>
</div>
