<div class="card-group">
  <%= for cert <- @certificates do %>
    <div class="card" style="max-width:300px;">
      <img class="card-img-top" style="width:100%"
        src='<%= "/images/items/#{cert.item.id}" %>.jpg' alt="item">
      <div class="card-block">
        <h4 class="card-title"><%= cert.item.provider.name %></h4>
        <p class="card-text">
          <small class="text-muted">Desde: <%= cert.updated_at %></small>
        </p>
      </div>
    </div>
  <% end %>
</div>
