<%= render Dnaritag.PageView, "header.html", conn: @conn %>

<div class="container">
  <%= render "add_button.html" %>
  <div class="row">
    <div class="col-12">
      <%= if Enum.empty?(@certificates) do %>
        <%= render "empty_collection.html" %>
      <% else %>
        <%= render "full_collection.html", certificates: @certificates %>
      <% end %>
    </div>
  </div>
</div>
