<style>
 .mdl-card__media {
   margin: 0;
  }
</style>

<li class="mdl-color--grey-100">
<%= link to: certificate_path(@conn, :show, @certificate.id), class: "dna-item-link" do %>
  <div class="mdl-card">
    <figure class="mdl-card__media mdl-color--grey-100">
      <img class="dna-collection-item" alt="items" src="/images/items/<%= @certificate.item.id %>.jpg"/>
    </figure>
    <div class="mdl-card__title mdl-color--grey-200">
      <h5 class="mdl-card__subtitle-text"><%= @certificate.item.provider.name %></h5>
    </div>
    <div class="mdl-card__supporting-text">
      <p>
        <strong><%= @certificate.item.name %></strong>
      </p>
      <p>
        Fecha de registro:
        <br/>
        <%= @certificate.updated_at %>
      </p>
    </div>
  </div>
<% end %>
</li>
