<div class="container">
  <div class="card">
    <div class="card-block">
      <a href="/">Volver</a>

      <style type="text/css">
        @page {
          margin: 25.4mm
        }
        
        p {
          margin-bottom: 2.47mm;
          direction: ltr;
          line-height: 120%;
          text-align: left;
          orphans: 2;
          widows: 2
        }
        
        a:link {
          color: #0000ff
        }

      </style>

      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="5" style="font-size: 18pt"><b>DNARITY,
INC. PRIVACY POLICY</b></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt">Dnarity, Inc. (&quot;Dnarity&quot;, &quot;We&quot;) knows that you take
            your privacy seriously. We do, too. We are committed to giving you transparency
            of our privacy practices and control over your data in connection with
            Dnarity's Services (as defined in Dnarity's Terms of Service). </font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt">This Privacy Policy covers Dnarity's treatment of personally identifiable
            information (&quot;Personal Information&quot;) and other data that Dnarity
            gathers when you are accessing Dnarity's Services. You can control how
            certain information is used and shared through our Services as described
            below.</font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="4" style="font-size: 13pt"><b>What
Personal Information Does Dnarity Collect?</b></font>
        </font>
      </p>
      <ul>
        <li/>
        <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt">Personal Information You Provide to Us: We receive and store information
              you enter on our Services or provide to us in any other way. The types
              of Personal Information collected may include your name, email address,
              phone number, birthday, Twitter and/or Facebook usernames, and location.
              We automatically receive your location when you use the Services. We
              use various technologies to determine location, such as location services
              of the applicable operating system or browser and sensor data from
              your device that may, for example, provide information on nearby Wi-Fi-
              access points and cell towers. The Personal Information you provide
              is used for such purposes as allowing you to set up a user account
              and profile that can be used to interact with other users through the
              Services, improving the content of the Services, customizing the advertising
              and content you and your friends see (including Dnarity or third-party
              advertising or content), and communicating with you about specials
              and new features. Your Services account will be associated with a Services
              ID, your email (when you log into the Services) and optionally a phone
              number, and this account will be used for all our Services that you
              use. Information you provide to one of our Services may be used with
              other Services you or your friends use. For example, location information
              we receive in connection with your use of one of our apps may be used
              to customize the content you and your friends see in another of our
              apps. Additionally, if you use a Service without logging into that
              Service on a device and later log into a Service on that device, Dnarity
              will combine information that was collected about your use of the Service
              in a logged-out state with your Services account. We may also draw
              upon this Personal Information in order to adapt the Services of our
              community to your needs, to research the effectiveness of our network
              and Services, and to develop new tools for the community.</font>
          </font>
        </p>
        <li/>
        <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt">Children under 13: The Services are not directed to individuals who are
              younger than 13 years old.</font>
          </font>
        </p>
        <li/>
        <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt">Information Collected Automatically: When you use the Services, Dnarity
              automatically receives and records information on our server logs from
              your browser or mobile platform, including your location, IP address,
              browser type, operating information, mobile carrier, device and application
              IDs, cookie information, information regarding your use of our Services
              and the page you requested. We treat this data as non-Personal Information,
              except where we are required to do otherwise under applicable law.
              Unless otherwise stated in this Privacy Policy, Dnarity only uses this
              data in aggregate or anonymous form. We may provide aggregate or anonymous
              information to our partners about how our users, collectively, use
              our Services, so that our partners may also understand how often people
              use their services and our Services.</font>
          </font>
        </p>
        <li/>
        <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt">Information We Receive from Third Parties: We receive and store information
              from third parties that interact in some way with the Services or that
              provide services to us in connection with the Services, including through
              services, websites and applications offered by our developer customers
              that integrate our application programming interface (&quot;API&quot;)
              or software development kit (&quot;SDK&quot;) into their services,
              websites or applications. </font>
          </font>
        </p>
      </ul>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="4" style="font-size: 13pt"><b>How
is My Information Shared?</b></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt">Information about our users is an integral part of our business. We use
            your information in order to provide you with the Services and in a manner
            consistent with the disclosures in this Privacy Policy. We neither rent
            nor sell your Personal Information to anyone for their own use, though,
            as described more fully in this Privacy Policy, including the section
            below (under &quot;Publicly Available Information and Apps&quot;), certain
            information is available to third parties, and we may provide it to third
            parties, by license or otherwise. The default user settings for all data
            about you that is visible to others is summarized in our </font>
        </font>
        <a href="https://support.foursquare.com/hc/en-us/articles/201065830-Who-can-see-my-information-">
          <font color="#0000ff">
            <font face="Times New Roman, serif">
              <font size="3" style="font-size: 12pt"><u>Privacy
FAQs</u></font>
            </font>
          </font>
        </a>
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt">, together with information on how to change the default user settings
            or how to generally remove information, where applicable.</font>
        </font>
      </p>
      <ul>
        <li/>
        <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt">Businesses, Locations, Events and Brands: One of the key purposes of
              the Services is to help users learn about businesses, products, locations,
              events and brands (for example, a TV show, a TV personality, newspaper
              or a consumer good that manages a page on the Service) that are relevant
              to them, and for these entities to provide information about themselves,
              their locations and events to users, as well as to reward users when
              they visit their location or event through offers and specials. When
              you visit a particular location your visits may be shared with that
              location in order for that location to better provide services to you.
              </font>
          </font>
        </p>
        <li/>
        <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt">Publicly Available Information and Apps: When you use the Services, certain
              information is public, such as your public user profile information,
              tips, likes, saves, public photos, lists that you create and save,
              tastes and badges/stickers. We may share or disclose aggregated and/or
              anonymous data, such as de-identified check-in data (that does not
              identify an individual user), to third parties, including users you
              may follow, users of our API and our customers, for analytical or other
              purposes.</font>
          </font>
        </p>
      </ul>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt">In addition, use of third party apps developed using our API or that incorporate
            our SDK is subject to the terms of use and privacy policies of such third
            party developers. Certain Personal Information may be made available
            to third party developers if you or your &quot;friends&quot; use these
            third party apps. You should review the policies of third party apps
            and websites to ensure that you are comfortable with the ways in which
            they use and disclose the information you share with them. We do not
            guarantee that they will follow our rules or our Privacy Policy. Note
            that your friends will also be able to see which third party apps that
            you use.</font>
        </font>
      </p>
      <ul>
        <li/>
        <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt">Vendors/Contractors: We employ other companies and people, such as independent
              vendors and contractors, to perform tasks on our behalf and need to
              share your information with them in order form them to provide services
              to us. We do not authorize such vendors and contractors to use your
              Personal Information for their own benefit and we request that they
              provide a comparable level of protection for your Personal Information.
            </font>
          </font>
        </p>
      </ul>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="4" style="font-size: 13pt"><b>Determining
and Sharing Location</b></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt">Determining your location - The Services deal with location, so in order
            to work, the Services need to know your location. Whenever you open and
            use/interact with our apps on your mobile device or go to one of our
            Sites, we use the location information from your mobile device or browser
            (e.g., latitude and longitude) to tailor the Services to your current
            location (i.e., we’ll show you a list of nearby locations, friends and
            tips). This information from is NOT shared with others. Also, the Services
            use your mobile device’s ‘background location’ to provide the Services,
            including to send you notifications of tips/friends/plans/interesting
            things etc. near you. If you have ‘background location’ turned on, the
            Dnarity app will, from time to time, tell us about your device’s location
            even if you are not directly interacting with the application.</font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt">Sharing Location with the Dnarity app - Your real-time location is not
            shared on the Dnarity app. If you write a tip, like or otherwise interact
            with a place, users may infer that you have been to that location. Some
            content, like tips, are time stamped and other users could use that information
            to infer when you were at a place even though tips can be posted when
            you aren’t at the place you are leaving a tip about. </font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt">Sharing Location with the Dnarity app - Your location data is ONLY shared
            with others when you proactively decide to &quot;check in&quot; on the
            Dnarity app to tell the Services you’re at a particular place.</font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt">Your Check-in History - Each of your check-ins using the Services is saved
            to your &quot;Check-in History,&quot; which allows other users to look
            at the products you have checked. You can delete any or all of your check-ins
            from the check-in details page on our website and in the apps. If for
            some reason you ever decide to delete your Services account, your entire
            check-in history will be removed from our database.
          </font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="4" style="font-size: 13pt"><b>Services
Features</b></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt">Please remember that if you choose to provide personal information using
            certain features of the Services, that information may be available to
            the wider Services community, or may be published on our Sites, which
            is subject to indexing by third party search engines.</font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt">We may provide you with the ability to log into the Service using your
            existing social media accounts, such as Facebook, Twitter and Google+.
            We do not control such social media services, your profiles on those
            services, modify your privacy settings on those services or establish
            rules about how your information on those services will be used. You
            and the social media service providers are in control of those issues,
            not Dnarity. You are encouraged to read all policies and information
            on the applicable social media services to learn more about how they
            handle your information before using any such features made available
            to you on the Service. We are not responsible for any acts or omissions
            by any social media service provider or your use of features that come
            from their platform.</font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="4" style="font-size: 13pt"><b>Sharing
with Partners, in connection with business transfers, and for the
protection of Dnarity and others:</b></font>
        </font>
      </p>
      <ul>
        <li/>
        <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt">Our Partners: In addition to the data sharing described above, we enter
              into relationships with a variety of businesses and work closely with
              them. In certain situations, these businesses, provide services to
              you, sell items or provide promotions to you through the Services.
              In other situations, Dnarity provides services, or sells items jointly
              with these businesses. You can easily recognize when one of these businesses
              is associated with your transaction, and we will share your Personal
              Information that is related to such transactions with that business.</font>
          </font>
        </p>
        <li/>
        <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt">Business Transfers: If Dnarity or substantially all of its assets are
              acquired, or in the unlikely event that Dnarity goes out of business
              or enters bankruptcy, user information would be one of the assets that
              is transferred or acquired by a third party.</font>
          </font>
        </p>
        <li/>
        <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt">Protection of Dnarity and Others: We may release your information when
              we believe in good faith that release is necessary to comply with the
              law, including laws outside your country of residence; enforce or apply
              our conditions of use and other agreements; or protect the rights,
              property, or safety of Dnarity, our employees, our users, or others.
              This includes exchanging information with other companies and organizations
              (including outside of your country of residence) for fraud protection
              and credit risk reduction.</font>
          </font>
        </p>
      </ul>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="4" style="font-size: 13pt"><b>Email
Communications</b></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt">By providing your email address to us, you expressly consent to receive
            emails from us, where permitted by law. We may use email to communicate
            with you, to send information that you have requested or to send information
            about other products or services developed or provided by us or our partners.
            If you have a Services account and do not want to receive commercial
            email or other mail from us, please indicate your preference by making
            a modification on your account settings page or through the 'settings'
            tab on our website once you're logged into the Services. Please note
            that if you do not want to receive legal notices from us, such as notices
            regarding this Privacy Policy, those legal notices will still govern
            your use of the Services, and you are responsible for reviewing such
            legal notices for changes. We may receive a confirmation when you open
            an email from Dnarity if your computer supports this type of program.
            Dnarity uses this confirmation to help us make emails more interesting
            and helpful and improve our service.</font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="4" style="font-size: 13pt"><b>Text
Messages</b></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt">If you provide your phone number to us and opt in, Dnarity or our service
            provider may send you periodic text messages through an automatic telephone
            dialing system. These may include marketing text messages, as well as
            operational messages about features and updates to our Services. Standard
            text message and data rates will apply. You are not required to agree
            to receive text messages in order to use any of our apps or other services.
            You may unsubscribe from our text messages by texting STOP in response
            to a message.</font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="4" style="font-size: 13pt"><b>What
About Cookies and Similar Technologies?</b></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt">We and our agents use technologies like cookies, pixels, and local storage
            (like on your browser or device, which is similar to a cookie but holds
            more information) and identifiers (including identifiers supplied by
            your browser or device or by app platform companies) on our website,
            in our emails, within our apps and through third party apps that use
            our API or SDK to provide you with a range of products and services.
            You can control cookies through your browser settings and other tools.
            By continuing to use our Services through your computer or mobile device,
            you consent to our use of cookies, pixels and local storage in accordance
            with this Privacy Policy and Dnarity's Cookie Policy.</font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt">We may work with advertisers or other partners and advertising service
            providers to serve ads to you on our Services, or on a third party website
            or app, that may be relevant to you based on your inferred interests,
            interaction with our Services or location.</font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt">In connection with the foregoing, we, our partners, and our advertising
            service providers receive information through our Services, unaffiliated
            websites and apps and through various advertising exchanges, platforms
            and ad networks, including by bidding on advertising inventory on unaffiliated
            sites and apps directly or by working with other partners and advertising
            service providers. This information may include information about your
            activity on the Services or on unaffiliated websites and apps, including
            information received from a web browser, operating system, or device
            (including such things as the web address of a web page visited, the
            address of the referring or exit web pages, and the data and time of
            those visits; information about the browser type and browser settings;
            information about the operating system, device model, and carrier; location
            information; IP addresses; mobile device and advertising identifiers
            such as Apple IDFA or Google Advertising ID; and cookie information,
            pixel or other similar technology).</font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt">We combine the information described above with additional demographic,
            location and other interest-based segment data, along with cookie information,
            from third parties to provide services to our customers such as tools
            to enable the display of targeted advertisements to users, including
            across a user’s devices, and tools to allow them to understand the effectiveness
            of advertising campaigns (e.g., we use the information we receive to
            determine the probability that a desktop web cookie and a mobile device
            belong to the same user and may use this information to provide advertising,
            analytics or other services). Additionally, we use the information we
            collect from our API or SDK when incorporated into applications of third
            parties to determine whether the same user is using different third party
            apps on the same mobile device that incorporate our API or SDK. We may
            share this information and other information with advertisers or other
            partners and advertising service providers for purposes such as to serve
            advertisements, and to measure advertisement conversion and effectiveness
            in the ordinary course of our business. We may share such information
            with third parties advertising partners in an aggregated form as part
            of a segment of users or in a de-identified form, but we would not share
            such information in a manner that specifically identifies you to an advertiser).
            Unless you opt-out as described below, we will retain this information
            we receive for as long as your Services account is active or as needed
            to provide the advertising services. Notwithstanding anything to the
            contrary herein, we will retain and use the information as necessary
            to comply with our legal obligations, resolve disputes, and enforce our
            agreements.
          </font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt"><b>How
to Opt-Out</b></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt">Registered users of the Service can opt-out of Dnarity serving interest-based
            ads outside of Dnarity's apps and websites in the privacy settings section
            of your account settings.</font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt">Any individual (whether or not they are a registered user of Dnarity) can
            opt out of receiving interest-based advertisements from Dnarity outside
            of Dnarity's apps and websites on their mobile device by using the DAA's
            &quot;AppChoices application available at
          </font>
        </font>
        <a href="http://www.aboutads.info/appchoices/">
          <font color="#0000ff">
            <font face="Times New Roman, serif">
              <font size="3" style="font-size: 12pt"><u>http://www.aboutads.info/appchoices</u></font>
            </font>
          </font>
        </a>
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt">.</font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt">Additionally, for information about how to opt out of receiving interest-based
            advertisements from our third party advertising partners outside of Dnarity’s
            apps and websites, or to learn more about interest-based advertising
            in general and to access the opt-outs of other online advertising companies,
            visit the Network Advertising Initiative at
          </font>
        </font>
        <a href="https://www.networkadvertising.org/choices/#completed">
          <font color="#0000ff">
            <font face="Times New Roman, serif">
              <font size="3" style="font-size: 12pt"><u>http://www.networkadvertising.org/choices/</u></font>
            </font>
          </font>
        </a>
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt">
            or the Digital Advertising Alliance (DAA) at
          </font>
        </font>
        <a href="http://www.aboutads.info/choices/">
          <font color="#0000ff">
            <font face="Times New Roman, serif">
              <font size="3" style="font-size: 12pt"><u>http://www.aboutads.info/choices/</u></font>
            </font>
          </font>
        </a>
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt">
            or, for interest-based advertising in apps, by using the DAA’s “AppChoices application”
            available at
          </font>
        </font>
        <a href="http://www.aboutads.info/appchoices/">
          <font color="#0000ff">
            <font face="Times New Roman, serif">
              <font size="3" style="font-size: 12pt"><u>http://http://www.aboutads.info/appchoices</u></font>
            </font>
          </font>
        </a>
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt">.</font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt">Also, certain versions of the iOS operating system permit you to &quot;Limit
            Ad Tracking&quot; in the system settings and certain versions of the
            Android operating system allow you to &quot;Opt out of Interest-Based
            Ads&quot; in the system settings.</font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt">Cross-Device Opt-Out - You should complete the opt-out process for all
            devices and browsers that you use. When you opt-out, we will no longer
            use the information from you on that particular browser or device to
            provide you with the Services. For example, that means that if you opt-out
            for a device, we will be unable to tie that device to another device
            or to another browser on another device. Please keep in mind that, to
            the extent we have already disclosed information about you to third parties
            before you opt out, we cannot require such third parties to delete that
            information. For more information see
          </font>
        </font>
        <a href="http://www.aboutads.info/choices/">
          <font color="#0000ff">
            <font face="Times New Roman, serif">
              <font size="3" style="font-size: 12pt"><u>www.aboutads.info/choices</u></font>
            </font>
          </font>
        </a>
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt">.</font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt">At this time we do not honor web browser Do Not Track (&quot;DNT&quot;)
            signals or similar mechanisms.</font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt">We adhere to the Digital Advertising Alliance’s Self-Regulatory Principles
            for Online Behavioral Advertising.</font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="4" style="font-size: 13pt"><b>Is
Personal Information About Me Secure?</b></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt">Your Dnarity account Personal Information is protected by a password for
            your privacy and security. You need to prevent unauthorized access to
            your account and Personal Information by selecting and protecting your
            password appropriately, and limiting access to your computer and browser
            by signing off after you have finished accessing your account.
          </font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt">Dnarity endeavors to safeguard user information to ensure that user account
            information is kept private. However, Dnarity cannot guarantee the security
            of user account information. Unauthorized entry or use, hardware or software
            failure, and other factors, may compromise the security of user information
            at any time.</font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt">The Services may contain links to other sites. Dnarity is not responsible
            for the privacy policies and/or practices on other sites. When linking
            to another site, you should read the privacy policy stated on that site.
            This Privacy Policy only governs information collected on the Services.</font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="4" style="font-size: 13pt"><b>International
Users</b></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt">If you are located outside of the United States, please note that our Services
            are hosted on computer servers in the United States. Therefore, your
            information may be processed and stored in the United States. As a result,
            United States federal and state governments, courts, or law enforcement
            or regulatory agencies may be able to obtain disclosure of your information
            through laws applicable in the United States. Your use of the Sites or
            the Services or your submission of any Personal Information to us will
            constitute your consent to the transfer of your Personal Information
            from your home country, including the United States, which may provide
            for different data protection rules than in your country.</font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="4" style="font-size: 13pt"><b>What
Personal Information Can I Access?</b></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt">Dnarity allows you to access the following information about you for the
            purpose of viewing, and in certain situations, updating that information
            and ensuring that it is accurate and complete. You can access this information
            on the Services by visiting the user settings page (except usage information,
            which can be accessed in the &quot;History&quot; tab). This list will
            change as our Service changes.
          </font>
        </font>
      </p>
      <ul>
        <li/>
        <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt">Password</font>
          </font>
        </p>
        <li/>
        <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt">Phone number
            </font>
          </font>
        </p>
        <li/>
        <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt">Email address
            </font>
          </font>
        </p>
        <li/>
        <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt">Other User profile information (for example, home city, photo)</font>
          </font>
        </p>
        <li/>
        <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt">Usage information (for example, check-in history)</font>
          </font>
        </p>
      </ul>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt">If you have questions about the Personal Information we have collected
            from you, you can email info@dnarity.com</font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="4" style="font-size: 13pt"><b>How
Do I Delete My Account?</b></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt">Should you ever decide to delete your Services account, you may do so by
            clicking on the &quot;Delete account&quot; link on your account. If you
            terminate your account, your profile, including your check-in history,
            badges/stickers you received, your User Submissions (as defined in Dnarity's
            Terms of Service) and any promotional offers you received, will be removed
            from the Service and eventually deleted from Dnarity's servers. Because
            of the way we maintain Dnarity, such deletion may not be immediate, and
            residual copies of your profile information or posts may remain on backup
            media for up to ninety (90) days. Notwithstanding the foregoing, we will
            retain information as required by applicable law and we will not delete
            any information that has already been aggregated or anonymized.</font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="4" style="font-size: 13pt"><b>How
Is Information Removed From My Account?</b></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt">You can remove/change content or information that you have posted on the
            Services on your account and profile through the Services or you can
            ask us to remove it by writing to info@dnarity.com Even after you remove
            information from your account or profile, copies of that information
            may remain viewable elsewhere, to the extent it has been shared with
            others, it was otherwise distributed pursuant to your privacy settings,
            or it was copied or stored by other users. Removed and deleted information
            may remain on backup media for up to ninety (90) days prior to being
            deleted from our servers.</font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="4" style="font-size: 13pt"><b>Will
There Be Changes To This Privacy Policy?</b></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt">Dnarity may amend this Privacy Policy from time to time. Use of information
            we collect now is subject to the Privacy Policy in effect at the time
            such information is used. If we make material changes in the way we use
            Personal Information, we will notify you by posting an announcement on
            our Services or sending you an email. Users are bound by any changes
            to the Privacy Policy when they use the Services after such changes have
            been first posted.</font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="4" style="font-size: 13pt"><b>What
If I Have Questions Or Concerns?</b></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <a name="_GoBack"></a>
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt">If you have any questions or concerns regarding privacy using the Service,
            please send a detailed message to: info@dnarity.com We will make every
            effort to resolve your concerns.</font>
        </font>
      </p>
      <p style="margin-bottom: 3.53mm; line-height: 115%"><br/>
    </div>
  </div>
</div>
