<div class="container">
  <div class="card">
    <div class="card-block">

      <a href="/">Volver</a>

      <style type="text/css">
        @page {
          margin: 25.4mm
        }
        
        p {
          margin-bottom: 2.47mm;
          direction: ltr;
          line-height: 120%;
          text-align: left;
          orphans: 2;
          widows: 2
        }
        
        a:link {
          color: #0000ff
        }

      </style>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="5" style="font-size: 18pt"><span lang="es-419"><b>Dnarity,
INC - CONDICIONES DE USO</b></span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <a name="_GoBack"></a>
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt"><span lang="es-419">POR
FAVOR LEE ATENTAMENTE ESTAS CONDICIONES DE USO ANTES DE UTILIZAR LOS
SERVICIOS OFRECIDOS POR Dnarity, INC. (&quot;Dnarity&quot;), UNA
CORPORACIÓN DE DELAWARE. ESTAS CONDICIONES DE USO ESTABLECEN LOS
TÉRMINOS Y LAS CONDICIONES LEGALMENTE VINCULANTES PARA EL USO DEL
SITIO WEB EN </span></font>
        </font>
        <font color="#0000ff">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt"><a href="http://www.dnaritag.com">HTTP://WWW.DNARITAG.COM</a></font>
          </font>
        </font>
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt"><span lang="es-419">
(EL &quot;SITIO&quot;) Y LOS SERVICIOS, CARACTERÍSTICAS, CONTENIDO,
APLICACIONES O WIDGETS OFRECIDOS POR Dnarity (EN CONJUNTO CON EL
SITIO, EL &quot;SERVICIO&quot;).</span></font>
        </font>
      </p>
      <p style="margin-left: 12.7mm; text-indent: -12.7mm; margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="4" style="font-size: 13pt"><span lang="es-419"><b>Aceptación
de Condiciones.</b></span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt"><span lang="es-419">Al
registrarte en el Servicio y/o utilizarlo de cualquier forma,
incluyendo, entre otras cosas, visitar o explorar el Sitio, aceptas
todos los términos y condiciones aquí contenidos (&quot;Condiciones
de uso&quot;), que también incorporan la Política de privacidad de
Dnarity, Política de propiedad intelectual de Dnarity, Directrices
de fotos de Dnarity, Términos y condiciones de tiendas de Dnarity,
Acuerdos de Licencia de API de Dnarity, y todas las demás reglas de
operación, políticas y procedimientos que puedan ser publicados
ocasionalmente en el Sitio por Dnarity, cada uno de los cuales es
incorporado por referencia y cada uno de los cuales puede ser
actualizado por Dnarity ocasionalmente sin previo aviso de acuerdo
con las condiciones establecidas en&nbsp;la sección de &quot;Modificación
de las Condiciones de uso&quot; a continuación. Además, algunos
servicios que se ofrecen a través del Servicio pueden estar sujetos
a términos y condiciones adicionales especificados por Dnarity de
vez en cuando. El uso que usted haga de dichos servicios está sujeto
a dichos términos y condiciones adicionales, que se incorporan a
estas Condiciones de uso por medio de esta referencia. Estas
Condiciones de uso se aplican a todos los usuarios del Servicio,
incluyendo, entre otros, los usuarios que contribuyen con contenido,
información y otros materiales o servicios en el Sitio, usuarios
individuales del Servicio, lugares que tienen acceso al Servicio y
usuarios que tienen una página en el Servicio.</span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="4" style="font-size: 13pt"><span lang="es-419"><b>Acceso.</b></span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt"><span lang="es-419">Sujeto
a estas Condiciones de uso, Dnarity puede ofrecer prestar los
Servicios, como se describe con más detalle en el Sitio, y que sean
seleccionados por ti, únicamente para tu uso personal y no para el
uso o beneficio de terceros. Los Servicios incluirán, entre otros,
servicios que Dnarity te preste a ti, aplicaciones o widgets
ofrecidos por Dnarity que tú descargues desde el Sitio o, sujeto a
los términos establecidos en la sección &quot;Sitios y Servicios de
terceros&quot; a continuación, de tiendas de aplicaciones de
terceros (por ejemplo, iTunes® Store, Blackberry App World™ o
Google Apps Marketplace) autorizadas por Dnarity, así como el
ofrecimiento de cualquier material mostrado o ejecutado en o a través
de los Servicios (incluyendo Contenido (según se define a
continuación)).</span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="4" style="font-size: 13pt"><span lang="es-419"><b>Registro
y elegibilidad.</b></span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt"><span lang="es-419">Puedes
explorar el Sitio y ver el Contenido sin necesidad de registrarte,
pero como condición para utilizar determinados aspectos del
Servicio, debes registrarte en Dnarity y declarar, garantizar y
comprometerte a proporcionar a Dnarity información de registro
correcta, veraz y completa (incluido, entre otros, tu nombre de
usuario &quot;Nombre de usuario&quot;), dirección de email y
contraseña que utilizarás para acceder al Servicio) y a mantener tu
información de registro precisa y actualizada. No hacerlo
constituirá una violación de estas Condiciones de uso, lo cual
puede resultar en la rescisión inmediata de tu cuenta de Dnarity.
Te recomendamos, sin exigencia, que utilices tu propio nombre como
Nombre de usuario para que tus amigos puedan reconocerte con mayor
facilidad.</span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt">No podrás:
          </font>
        </font>
      </p>
      <ul>
        <li/>
        <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt"><span lang="es-419">crear
	ninguna cuenta para otra persona sin su autorización;</span></font>
          </font>
        </p>
        <li/>
        <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt"><span lang="es-419">utilizar
	un nombre de usuario que sea el nombre de otra persona con la
	intención de hacerte pasar por esa persona;</span></font>
          </font>
        </p>
        <li/>
        <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt"><span lang="es-419">utilizar
	un Nombre de usuario o cuenta de Dnarity que esté sujeta a los
	derechos de una persona que no seas tú, sin la autorización
	correspondiente; o bien, </span></font>
          </font>
        </p>
        <li/>
        <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt"><span lang="es-419">utilizar
	un Nombre de usuario ofensivo, vulgar, obsceno o ilegal. </span></font>
          </font>
        </p>
      </ul>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt"><span lang="es-419">Dnarity
se reserva el derecho a denegar el registro de un Nombre de usuario,
o cancelarlo, a su exclusiva discreción. Eres el único responsable
de la actividad que se desarrolle en tu cuenta y serás el
responsable de mantener la confidencialidad de tu contraseña de
Dnarity. Nunca deberás usar la cuenta de otro usuario sin su previa
autorización expresa. Notificarás inmediatamente a Dnarity por
escrito sobre cualquier uso no autorizado de tu cuenta, u otra
infracción de seguridad relacionada con la cuenta de la que tengas
conocimiento.</span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt"><span lang="es-419">Si
eres un individuo, declaras y garantizas tener la edad establecida
por ley para celebrar un acuerdo vinculante, o que, si estás
registrándote en representación de una entidad, estás autorizado a
firmar estas Condiciones de uso y registrarte en el Servicio, y
obligar a la entidad a hacerlo. El Servicio no está disponible para
menores de 13 años. Dnarity puede, a su exclusiva discreción,
negarse a ofrecer el Servicio a cualquier persona o entidad, y a
cambiar sus criterios de elegibilidad en cualquier momento. Tú eres
el único responsable de garantizar que estas Condiciones de uso
guarden conformidad con las leyes, las normas y los reglamentos
aplicables a tu persona, y el derecho a acceder al Servicio se revoca
en los lugares en que estas Condiciones de uso o el uso del Servicio
se encuentran prohibidos y, en dichas circunstancias, aceptas no
utilizar o acceder al Sitio o los Servicios de ninguna manera.</span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt"><span lang="es-419">Si
utilizas un dispositivo móvil, ten en cuenta que las tarifas y los
cargos habituales de tu proveedor, tales como mensajes de texto y
cargos por datos, seguirán aplicándose. En caso de que cambies o
desactives tu número de teléfono móvil, aceptas que actualizarás
la información de tu cuenta en los Servicios dentro de las 48 horas
a fin de garantizar que tus mensajes no se enviarán a la persona que
tenga tu número anterior.</span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="4" style="font-size: 13pt"><span lang="es-419"><b>Contenido.</b></span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt"><span lang="es-419">Todo
el contenido, ya sea publicado para todos o enviado en privado, es
responsabilidad exclusiva de la persona que originó dicho Contenido.
Dnarity no puede garantizar la autenticidad del Contenido o de los
datos que los usuarios puedan publicar de sí mismos. Aceptas que
todo el Contenido al que accedes al usar el Servicio es bajo tu
propio riesgo y serás el único responsable por cualquier daño o
pérdida que te suceda a ti o a otros a causa de ello. Para efectos
de estas Condiciones de uso, el término &quot;Contenido&quot;
incluye, entre otras cosas, cualquier información de ubicación,
búsquedas, anuncios, videos, comentarios, información, datos,
texto, fotografías, software, scripts, gráficos y características
interactivas generadas, provistas o de cualquier otra forma
suministradas por Dnarity en el Servicio o a través del mismo. El
contenido agregado, creado, cargado, enviado, distribuido, publicado
o de otra manera obtenido a través del Servicio por los usuarios,
incluyendo el Contenido que se agrega al Servicio en relación con
los usuarios al vincular sus cuentas a sitios web y servicios de
terceros, se denomina colectivamente &quot;Publicaciones del
usuario&quot;.</span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="4" style="font-size: 13pt"><span lang="es-419"><b>Contenido
de Dnarity.</b></span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt"><span lang="es-419">El
Servicio tiene Contenido específicamente proporcionado por Dnarity
o a través del crowdsourcing de sus usuarios registrados y dicho
Contenido está protegido por los derechos de autor, marcas
comerciales, marcas de servicio, patentes, secretos comerciales u
otros derechos de propiedad y leyes, según corresponda. Deberás
cumplir y conservar todas las notificaciones, información y
restricciones de derechos de autor contenidas en cualquier Contenido
accedido a través del Servicio.</span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt"><span lang="es-419">A
los efectos de las presentes Condiciones de uso, Dnarity concede a
cada usuario del Sitio y/o del Servicio una licencia mundial, no
exclusiva, no sublicenciable y no transferible para usar, modificar y
reproducir el Contenido, únicamente para uso personal y no
comercial. El uso, reproducción, modificación, distribución o
almacenamiento de Contenido para un uso que no sea personal y no
comercial está expresamente prohibido sin el permiso previo por
escrito de Dnarity, o del titular de los derechos de autor
identificado en el aviso de derechos de autor de dicho Contenido,
según corresponda. Tú no podrás vender, licenciar, alquilar, ni
utilizar o explotar el Contenido con fines comerciales (sean o no
fines de lucro) ni de ninguna manera que viole los derechos de
terceros.</span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="4" style="font-size: 13pt"><span lang="es-419"><b>Publicaciones
del usuario.</b></span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt"><span lang="es-419">Nosotros
podremos utilizar sus Publicaciones del usuario de varias formas
distintas en relación con el Sitio, Servicio y negocio de Dnarity
según lo determine Dnarity a su absoluta discreción, incluyendo,
sin carácter restrictivo, mostrarlas públicamente, darles un nuevo
formato, incorporarlas en el material de marketing, publicidad y
otros trabajos, crear trabajos derivados de ellas, promocionarlas,
distribuirlas y permitir que otros usuarios hagan lo mismo en
relación con sus propios sitios web, plataformas multimedia y
aplicaciones (\&quot;Medios de terceros\&quot;). Al enviar las
Publicaciones del usuario al Sitio o bien a través del Servicio,
usted por este medio concede y concederá a Dnarity una licencia
mundial, no exclusiva, libre de regalías, totalmente pagada,
sublicenciable y transferible para usar, copiar, editar, modificar,
reproducir, distribuir, preparar trabajos derivados, mostrar,
ejecutar y explotar las Publicaciones del usuario en relación con el
Sitio, el Servicio y el negocio de Dnarity (y sus sucesores y
cesionarios), entre otras cosas para la promoción y redistribución
de parte o la totalidad del Sitio (y trabajos derivados del mismo) o
del Servicio en cualquier formato multimedia y a través de cualquier
canal multimedia (incluyendo, entre otros, sitios web y feeds de
terceros). También por este medio concede y concederá a cada
usuario del Sitio y/o del Servicio, incluyendo a los Medios de
terceros, una licencia no exclusiva para acceder a sus Publicaciones
del usuario a través del Sitio y del Servicio, y para usar, editar,
modificar, reproducir, distribuir, preparar trabajos derivados,
mostrar y ejecutar dichas Publicaciones del usuario en relación con
su uso del Sitio, Servicio y Medios de terceros. Para mayor claridad,
la concesión de licencia anterior a Dnarity no afecta sus otros
derechos de propiedad o licencia de sus Publicaciones del usuario,
incluido el derecho de conceder licencias adicionales al material de
sus Publicaciones del usuario, salvo acuerdo por escrito con
Dnarity. </span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt"><span lang="es-419">Declara
y garantiza que tiene todos los derechos para concedernos dicha
licencia sin infringir ni violar derechos de terceros, incluidos
entre otros, derechos a la privacidad, derechos de publicidad,
copyrights, derechos contractuales o cualquier otro derecho
intelectual o de propiedad.</span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt"><span lang="es-419">Entiende
que toda la información publicada para todos o transmitida en
privado a través del Sitio, es responsabilidad exclusiva de la
persona que originó dicho Contenido. Que Dnarity no será
responsable de ningún error u omisión en cualquier parte del
Contenido, y que Dnarity no puede garantizar la identidad de ningún
otro usuario con el que usted pueda interactuar al usar el Servicio.</span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt"><span lang="es-419">Cuando
elimine sus Publicaciones del usuario, estas se eliminarán del
Servicio. Sin embargo, entiende que las Publicaciones del usuario
eliminadas pueden permanecer en copias de seguridad por un período
razonable de tiempo (aunque después de su eliminación ya no serán
compartidas con otras personas) o pueden permanecer con los usuarios
que ya han accedido a sus Publicaciones del usuario o las han
descargado previamente.</span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="4" style="font-size: 13pt"><span lang="es-419"><b>Normas
y conducta.</b></span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt"><span lang="es-419">Como
condición de uso, te comprometes a no utilizar el Servicio con
ningún propósito que esté prohibido por estas Condiciones de uso.
Eres responsable de toda tu actividad en relación con el Servicio.
Además, deberás cumplir con todas las leyes y normas aplicables
locales, estatales, nacionales e internacionales y, si representas a
una empresa, los códigos de publicidad, marketing, privacidad u
otros códigos de autorregulación aplicables a tu sector.</span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt"><span lang="es-419">A
modo de ejemplo, y no como una limitación, no podrás (y no
permitirás que ningún tercero) a) utilice o b) cargue, descargue,
publique, envíe o de alguna forma distribuya o facilite la
distribución de Contenido del Servicio o a través de este,
incluidas entre otras cosas, las Publicaciones del usuario, que:</span></font>
        </font>
      </p>
      <ul>
        <li/>
        <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt"><span lang="es-419">infrinjan
	una patente, marca comercial, secreto comercial, copyright, derecho
	de publicidad u otro derecho de cualquier persona o entidad que
	viole una ley o derecho contractual;</span></font>
          </font>
        </p>
        <li/>
        <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt"><span lang="es-419">sepas
	que es falso, engañoso o inexacto;</span></font>
          </font>
        </p>
        <li/>
        <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt"><span lang="es-419">sea
	ilegal, amenazante, insultante, hostil, difamatorio, calumnioso,
	engañoso, fraudulento, invasivo de la privacidad, agraviante,
	obsceno, vulgar, pornográfico, ofensivo, profano, contenga o
	represente la desnudez, contenga o represente la actividad sexual,
	promueva la intolerancia, discriminación o violencia, o sea
	inadecuado según lo determine Dnarity a su entera discreción;</span></font>
          </font>
        </p>
        <li/>
        <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt"><span lang="es-419">constituya
	publicidad no autorizada o no solicitada, email no deseado o masivo
	(&quot;spam&quot;);</span></font>
          </font>
        </p>
        <li/>
        <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt"><span lang="es-419">use
	inadecuadamente un Enlace &quot;Agregar a&quot;, involucre
	actividades comerciales (con o sin fines de lucro) y/o ventas sin el
	previo consentimiento por escrito de Dnarity, como concursos,
	sorteos, canjes, publicidad o programas piramidales;</span></font>
          </font>
        </p>
        <li/>
        <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt"><span lang="es-419">contenga
	virus informáticos u otros códigos informáticos, archivos,
	gusanos, bombas lógicas o programas diseñados o destinados a
	interrumpir, dañar, inutilizar, limitar o interferir con el buen
	funcionamiento de cualquier software, hardware o equipo de
	telecomunicaciones, o a dañar u obtener acceso no autorizado a
	cualquier sistema, datos, contraseña u otra información de
	Dnarity o de un tercero;</span></font>
          </font>
        </p>
        <li/>
        <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt"><span lang="es-419">refleje
	que alguien se hace pasar por otra persona o entidad, incluidos los
	empleados o representantes de Dnarity;</span></font>
          </font>
        </p>
        <li/>
        <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt"><span lang="es-419">incluya
	documentos de identidad o información financiera confidencial de
	alguna persona; o</span></font>
          </font>
        </p>
        <li/>
        <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt"><span lang="es-419">incumpla
	la Política de privacidad, las Normas internas y/o cualquier otra
	política o norma incorporada en este documento.</span></font>
          </font>
        </p>
      </ul>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt"><span lang="es-419">Si
la Publicación del usuario incluye una fotografía, se aplicarán
las Directrices de foto de Dnarity. Dnarity tiene una política de
tolerancia cero contra la pornografía, muy especialmente la
pornografía infantil y dará de baja y denunciará a las autoridades
competentes a cualquier usuario que publique o distribuya pornografía
infantil.</span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt"><span lang="es-419">Tú
no deberás, (directa ni indirectamente):</span></font>
        </font>
      </p>
      <ul>
        <li/>
        <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt"><span lang="es-419">hacer
	nada que imponga o pueda imponer (según lo determinado por Dnarity
	a su exclusiva discreción) una carga irrazonable o
	desproporcionadamente grande en la infraestructura de Dnarity (o de
	sus proveedores de terceros);</span></font>
          </font>
        </p>
        <li/>
        <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt"><span lang="es-419">interferir
	o intentar interferir con el buen funcionamiento del Servicio o de
	cualquier otra actividad realizada en el Servicio;</span></font>
          </font>
        </p>
        <li/>
        <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt"><span lang="es-419">evitar
	medidas que Dnarity pueda utilizar para impedir o restringir el
	acceso al Servicio (u otras cuentas, sistemas informáticos o redes
	conectadas al Servicio);</span></font>
          </font>
        </p>
        <li/>
        <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt"><span lang="es-419">ejecutar
	cualquier forma de autorespuesta o &quot;spam&quot; en el Servicio;</span></font>
          </font>
        </p>
        <li/>
        <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt"><span lang="es-419">usar
	software, dispositivos u otros procesos manuales o automáticos para
	&quot;rastrear&quot; páginas del Sitio;</span></font>
          </font>
        </p>
        <li/>
        <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt"><span lang="es-419">recoger
	o extraer Contenido del Servicio;</span></font>
          </font>
        </p>
        <li/>
        <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt"><span lang="es-419">modificar,
	adaptar, apropiar, reproducir, distribuir, traducir, crear trabajos
	o adaptaciones derivadas, mostrar públicamente, republicar,
	reutilizar, vender, comercializar o explotar de cualquier manera el
	Servicio o contenido del Sitio (que no sean sus Publicaciones del
	usuario), excepto con expresa autorización de Dnarity;</span></font>
          </font>
        </p>
        <li/>
        <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt"><span lang="es-419">descifrar,
	descompilar, desensamblar, realizar ingeniería inversa o bien
	intentar derivar un código fuente o ideas subyacentes o algoritmos
	de cualquier parte del Servicio (incluidos entre otros, cualquier
	aplicación o widget), excepto que en cierta medida las leyes
	aplicables prohíban específicamente dicha restricción;</span></font>
          </font>
        </p>
        <li/>
        <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt"><span lang="es-419">copiar,
	alquilar, arrendar, distribuir o transferir alguno de los derechos
	que recibes en las presentes;</span></font>
          </font>
        </p>
        <li/>
        <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt"><span lang="es-419">o
	proceder de alguna forma en violación de las directrices y las
	políticas de Dnarity.</span></font>
          </font>
        </p>
      </ul>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt"><span lang="es-419">Dnarity
no garantiza que todo el Contenido o las Publicaciones del usuario
(como se define arriba) se pondrán a disposición en el Sitio o a
través del Servicio. Dnarity no tiene obligación de monitorear el
Sitio, el Servicio, el Contenido o las Publicaciones del usuario. Sin
embargo, Dnarity se reserva el derecho de (i) eliminar, suspender,
editar o modificar el Contenido a su entera discreción, incluyendo
entre otras, las Publicaciones del usuario, en cualquier momento, sin
previo aviso y por cualquier motivo (incluyendo, entre otras cosas,
si recibe reclamaciones o acusaciones de terceros o de las
autoridades en relación con dicho Contenido o si a Dnarity le
preocupa que tú puedas haber violado estas Condiciones de uso), o
por ninguna razón en absoluto y (ii) eliminar, suspender o bloquear
cualquier Publicación del usuario del Servicio. Dnarity también se
reserva el derecho de leer, preservar, revelar y acceder a cualquier
información que Dnarity considere razonablemente necesaria para (i)
cumplir con alguna ley, norma, proceso legal o solicitud
gubernamental aplicable, (ii) hacer cumplir estas Condiciones de uso,
incluyendo la investigación de potenciales infracciones a las
mismas, (iii) detectar, prevenir o de otra forma gestionar problemas
de fraude, de seguridad o técnicos (iv) responder a solicitudes de
asistencia al usuario o (v) proteger los derechos, propiedad o
seguridad de Dnarity, sus usuarios y el público.</span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="4" style="font-size: 13pt"><span lang="es-419"><b>Servicios
con tarjeta</b></span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt"><span lang="es-419">Ciertas
características del Servicio y/o ciertos servicios y productos a su
disposición a través del Servicio pueden permitirle comprar
servicios o canjear una oferta o promoción con su tarjeta de crédito
(junto con los \&quot;Servicios con tarjeta\&quot;). Dnarity utiliza
un procesador de pagos de terceros (el \&quot;Procesador de pagos\&quot;)
para conectar la cuenta de su tarjeta de crédito con los Servicios
(su \&quot;Cuenta con tarjeta\&quot;) para el uso de los Servicios
con tarjeta. El procesamiento de los pagos o créditos, según
corresponda, relacionados con los Servicios con tarjeta estará
sujeto a los términos, condiciones y políticas de privacidad del
Procesador de pagos y del emisor de su tarjeta de crédito, además
de este Acuerdo. Dnarity no es responsable por ningún error que se
produzca durante el proceso de canje de alguna oferta o promoción,
incluyendo cualquier error del Procesador de pagos. En relación con
el uso que le dé a los Servicios con tarjeta, Dnarity obtendrá
ciertos datos de la transacción, los cuales Dnarity utilizará
únicamente de acuerdo con nuestra Política de privacidad.</span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="4" style="font-size: 13pt"><span lang="es-419"><b>Política
de envío de comentarios e ideas no solicitadas</b></span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt"><span lang="es-419">Para
obtener información sobre la Política de envío de comentarios e
ideas no solicitadas, escríbanos a info@dnarity.com</span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="4" style="font-size: 13pt"><span lang="es-419"><b>Condiciones
especiales para Tienda.</b></span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt"><span lang="es-419">Si
tienes una &quot;Tienda&quot; en el Servicio, también aceptas lo
siguiente:</span></font>
        </font>
      </p>
      <ul>
        <li/>
        <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt"><span lang="es-419">Las
	tiendas son perfiles especiales que solo pueden ser utilizadas para
	promocionar un negocio u otra organización comercial, política o
	de beneficencia o emprendimiento (incluidas las organizaciones sin
	fines de lucro, las campañas políticas, conjuntos de música y
	celebridades).</span></font>
          </font>
        </p>
        <li/>
        <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt"><span lang="es-419">Solo
	podrás administrar una tienda si eres un representante autorizado
	sobre el tema de la tienda.</span></font>
          </font>
        </p>
        <li/>
        <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt"><span lang="es-419">Todo
	el contenido publicado en las tiendas estará disponible para todos
	los usuarios de los Servicios.</span></font>
          </font>
        </p>
        <li/>
        <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt"><span lang="es-419">No
	podrás establecer condiciones más allá de las establecidas en
	estas Condiciones de uso para regular el uso de la Tienda que
	administras.</span></font>
          </font>
        </p>
        <li/>
        <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt"><span lang="es-419">Tu
	Tienda no se utilizará principalmente o sustancialmente para
	promocionar o publicitar productos alcohólicos o tabaco, armas de
	fuego u otros productos o servicios que no puedan ser legalmente
	adquiridos o utilizados por menores de edad.</span></font>
          </font>
        </p>
        <li/>
        <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt"><span lang="es-419">No
	podrás direccionar tu Tienda, o el Contenido de tu página, a niños
	menores de 13 años.</span></font>
          </font>
        </p>
        <li/>
        <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt"><span lang="es-419">Si
	recoges información sobre los usuarios, solo podrás utilizar dicha
	información para fines comerciales internos en relación con tu uso
	del Servicio y de acuerdo con la </span></font>
          </font>
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt"><span lang="es-419">Política
	de privacidad</span></font>
          </font>
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt"><span lang="es-419">
	de Dnarity.</span></font>
          </font>
        </p>
        <li/>
        <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt"><span lang="es-419">Eres
	responsable de asegurar que tu Tienda, y todo el Contenido que
	publiques en tu Tienda, cumpla con todas las leyes, normas y
	reglamentos aplicables y con las presentes Condiciones de uso, y con
	los códigos de publicidad, marketing, privacidad u otros códigos
	de autorregulación aplicables a tu industria.</span></font>
          </font>
        </p>
      </ul>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="4" style="font-size: 13pt"><span lang="es-419"><b>Condiciones
especiales para Desarrolladores.</b></span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt"><span lang="es-419">Si
eres un desarrollador u operador de cualquier aplicación o servicio
que utiliza una interfaz de programación de aplicaciones de Dnarity
también aceptas la Política de la plataforma y el Acuerdo de
Licencia de API de Dnarity.</span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="4" style="font-size: 13pt"><span lang="es-419"><b>Sitios
y Servicios de terceros.</b></span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt"><span lang="es-419">El
Servicio puede permitir conectarte con otros sitios web, servicios o
recursos en Internet, y otros sitios web, servicios o recursos pueden
contener enlaces al Sitio. Al acceder a sitios web de terceros, lo
haces bajo tu propio riesgo. Estos otros sitios web no están bajo el
control de Dnarity y reconoces que Dnarity no es responsable por el
contenido, funciones, precisión, legalidad, conveniencia o cualquier
otro aspecto de dichos sitios web o recursos. La inclusión de dichos
enlaces no implica la aprobación por parte de Dnarity, ni tampoco
ningún tipo de asociación con sus operadores. Además, reconoces y
aceptas que Dnarity no será responsable ni estará obligado,
directa ni indirectamente, por daños o pérdidas causados o
supuestamente causados por el uso o confiabilidad en dichos
Contenidos, productos o servicios disponibles en o a través de dicho
sitio web o recurso.</span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="4" style="font-size: 13pt"><span lang="es-419"><b>Rescisión.</b></span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt"><span lang="es-419">Dnarity
puede poner fin a tu acceso a todo o a cualquier parte del Servicio
en cualquier momento, con o sin motivo, con o sin previo aviso, con
efecto inmediato, lo que puede causar la confiscación y destrucción
de toda la información asociada con tu membresía. Si deseas
cancelar tu cuenta, puedes hacerlo siguiendo las instrucciones que
aparecen en el Sitio. Los cargos pagados en virtud del presente no
son reembolsables. Todas las disposiciones de estas Condiciones de
uso, que por su naturaleza deberían perdurar luego de la rescisión,
lo harán, incluyendo, entre otras, las disposiciones de propiedad,
renuncias de garantía, indemnizaciones y limitaciones de
responsabilidad.</span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="4" style="font-size: 13pt"><span lang="es-419"><b>Renuncia
de garantías.</b></span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt"><span lang="es-419">Salvo
en la medida requerida por ley, Dnarity no tiene ninguna relación
especial ni deber fiduciario contigo. Reconoces que Dnarity no tiene
control ni está obligado a tomar medidas con respecto a: qué
usuarios acceden al Servicio; a qué Contenido tú accedes a través
del Servicio; qué efectos puede provocarte el Contenido; cómo
puedes interpretar o utilizar el Contenido o qué medidas tú puedes
tomar como resultado de haber estado expuesto al Contenido.</span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt"><span lang="es-419">Eximes
a Dnarity de toda responsabilidad por haber adquirido o no Contenido
a través del Servicio. El Servicio puede contener, o dirigirte a
sitios web que contengan información que algunas personas podrían
considerar ofensiva o inadecuada. Dnarity no hace declaraciones
respecto del Contenido incluido o accesible a través del Servicio, y
Dnarity no se hace responsable por la exactitud, cumplimiento de los
derechos de autor, legalidad o decencia del material incluido o
accedido a través del Servicio.</span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt"><span lang="es-419">Nos
liberas de toda responsabilidad respecto a tus conexiones y
relaciones con otros usuarios. Comprendes que nosotros, de ninguna
manera, investigamos a los usuarios, ni averiguamos sus antecedentes
o intentamos verificar sus antecedentes o declaraciones. No hacemos
declaraciones ni constituimos garantías sobre la conducta de los
usuarios o la veracidad de la información que proporcionan. En
ningún caso seremos responsables de daño o perjuicio alguno, ya sea
directo, indirecto, general, especial, compensatorio, emergente y/o
incidental, derivado de tu conducta o la de otra persona, o
relacionado con esta, en conexión con los Servicios, incluyendo, sin
carácter restrictivo, daños físicos, angustia emocional y daños y
perjuicios resultantes de alguna forma de las comunicaciones o
encuentros con usuarios o personas que tú puedas tener a través de
los Servicios. Como tal, aceptas tomar las precauciones razonables y
ejercer el máximo cuidado personal en todas las interacciones con
cualquier individuo con el que entres en contacto a través de los
Servicios, especialmente si decides encontrarte con dichos individuos
en persona. Por ejemplo, no deberás, en ninguna circunstancia,
proporcionar tus datos financieros (tales como números de tarjeta de
crédito o cuenta bancaria) a otras personas.</span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt"><span lang="es-419">EL
SITIO, EL SERVICIO, EL CONTENIDO Y SUS ENLACES DE BUSQUEDA Y
&quot;ENCONTRE UN PRODUCTO&quot; SE PROPORCIONAN &quot;TAL CUAL&quot;,
&quot;COMO ESTÁN DISPONIBLES&quot; Y SE OFRECEN SIN DECLARACIONES NI
GARANTÍAS DE NINGÚN TIPO, EXPRESAS O IMPLÍCITAS, INCLUYENDO, ENTRE
OTRAS COSAS, LAS GARANTÍAS IMPLÍCITAS DE TÍTULO, DE NO INFRACCIÓN,
COMERCIALIZACIÓN Y APTITUD PARA UN PROPÓSITO PARTICULAR Y LAS
GARANTÍAS IMPLÍCITAS POR EL CURSO DE FUNCIONAMIENTO O USO
COMERCIAL, TODO LO CUAL SE RENUNCIA EXPRESAMENTE, SALVO EN LA MEDIDA
REQUERIDA POR LA LEY.</span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt"><span lang="es-419">Dnarity,
Y SUS DIRECTORES, EMPLEADOS, AGENTES, REPRESENTANTES, PROVEEDORES,
SOCIOS Y PROVEEDORES DE CONTENIDO NO GARANTIZAN QUE: (A) EL SERVICIO
SERÁ SEGURO O ESTARÁ DISPONIBLE EN CUALQUIER MOMENTO O LUGAR; (B)
TODO DEFECTO O ERROR SERÁ CORREGIDO; (C) TODO EL CONTENIDO O
SOFTWARE DISPONIBLE EN EL SERVICIO O A TRAVÉS DE ÉSTE ESTARÁ LIBRE
DE VIRUS U OTROS COMPONENTES DAÑINOS O QUE (D) LOS RESULTADOS DE
USAR EL SERVICIO CUMPLIRÁN CON TUS REQUERIMIENTOS. EL USO DEL SITIO
WEB, SERVICIO, CONTENIDO y ENLACE &quot;ENCONTRE UN PRODUCTO&quot; ES
BAJO TU PROPIO RIESGO. ALGUNOS ESTADOS/PAÍSES NO PERMITEN LA
LIMITACIÓN DE GARANTÍAS IMPLÍCITAS, POR LO QUE LAS LIMITACIONES
ANTERIORES PUEDEN NO SER APLICABLES EN TU CASO.</span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="4" style="font-size: 13pt"><span lang="es-419"><b>Indemnización
e indemnidad.</b></span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt"><span lang="es-419">Deberás
defender, indemnizar y eximir de responsabilidad a Dnarity, sus
afiliados y cada uno de sus empleados y empleados de sus afiliados,
contratistas, directores, proveedores y representantes, de todas las
pérdidas, costos, acciones, demandas, daños, gastos (incluyendo
costos legales razonables) o pasivos, que surjan o estén
relacionados con tu uso, mal uso o acceso al Sitio, Servicio,
Contenido o bien a tus Publicaciones de usuario, incumplimiento de
estas condiciones de uso, o infracción de tu parte o de terceros que
utilicen tu cuenta, de la propiedad intelectual u otro derecho de
cualquier persona o entidad (salvo en la medida en que un tribunal de
jurisdicción competente considere que dicha demanda surgió debido a
un acto u omisión de Dnarity). Dnarity se reserva el derecho de
asumir la defensa y control exclusivos de cualquier asunto sujeto a
indemnización de tu parte, en cuyo caso deberás ayudar y cooperar
con Dnarity para hacer valer cualquier defensa disponible.</span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="4" style="font-size: 13pt"><span lang="es-419"><b>Limitaciones
de responsabilidad.</b></span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt"><span lang="es-419">TODA
RESPONSABILIDAD DE Dnarity, SUS DIRECTORES, EMPLEADOS, AGENTES,
REPRESENTANTES, SOCIOS, PROVEEDORES O PRESTADORES DE CONTENIDO
DERIVADA DE PÉRDIDAS SUFRIDAS COMO RESULTADO DEL USO QUE USTED LE DA
AL SITIO, SERVICIO, CONTENIDO O PUBLICACIONES DEL USUARIO, SE EXCLUYE
EXPRESAMENTE EN EL GRADO MÁXIMO PERMITIDO POR LA LEY, EXCEPTO QUE,
UN TRIBUNAL DE JURISDICCIÓN COMPETENTE DETERMINE QUE EXISTE
RESPONSABILIDAD DE Dnarity, SUS DIRECTORES, EMPLEADOS, AGENTES,
REPRESENTANTES, SOCIOS, PROVEEDORES O PRESTADORES DE CONTENIDO (SEGÚN
PROCEDA), EL TOTAL DE DICHA RESPONSABILIDAD ESTARÁ LIMITADO A UN
TOTAL DE CIEN DÓLARES ESTADOUNIDENSES. (US$100).</span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt"><span lang="es-419">EN
LA MEDIDA MÁXIMA PERMITIDA POR LAS LEYES APLICABLES, Dnarity, NI
SUS DIRECTORES, EMPLEADOS, AGENTES, REPRESENTANTES, SOCIOS,
PROVEEDORES Y PRESTADORES DE CONTENIDO, EN NINGÚN CASO, SERÁN
RESPONSABLES, YA SEA CONTRACTUAL O EXTRACONTRACTUALMENTE, POR
RESPONSABILIDAD OBJETIVA, NEGLIGENCIA U OTRA TEORÍA LEGAL O
EQUITATIVA O (E INDEPENDIENTEMENTE DE SI Dnarity, SUS DIRECTORES,
EMPLEADOS, AGENTES, REPRESENTANTES, SOCIOS, PROVEEDORES O PRESTADORES
DE CONTENIDO TENÍAN CONOCIMIENTO PREVIO DE LAS CIRCUNSTANCIAS QUE
ORIGINARON LA PÉRDIDA O EL DAÑO O PERJUICIO) CON RESPECTO AL SITIO,
SERVICIO, CONTENIDO, PUBLICACIONES DEL USUARIO O ENLACE \&quot;AGREGAR
A\&quot; POR:</span></font>
        </font>
      </p>
      <ul>
        <li/>
        <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt"><span lang="es-419">PÉRDIDAS
	O DAÑOS INDIRECTOS O EMERGENTES;</span></font>
          </font>
        </p>
        <li/>
        <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt"><span lang="es-419">PÉRDIDA
	DE BENEFICIOS REALES O ANTICIPADOS;</span></font>
          </font>
        </p>
        <li/>
        <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt">PÉRDIDA DE RECURSOS;</font>
          </font>
        </p>
        <li/>
        <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt"><span lang="es-419">PÉRDIDA
	DE FONDOS DE COMERCIO;</span></font>
          </font>
        </p>
        <li/>
        <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt">PÉRDIDA DE DATOS;</font>
          </font>
        </p>
        <li/>
        <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt">PÉRDIDA DE AHORROS ANTICIPADOS;</font>
          </font>
        </p>
        <li/>
        <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt">GASTOS DERROCHADOS O</font>
          </font>
        </p>
        <li/>
        <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt"><span lang="es-419">COSTO
	DE ADQUISICIÓN DE BIENES O SERVICIOS SUSTITUTIVOS.</span></font>
          </font>
        </p>
      </ul>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt"><span lang="es-419">NINGUNA
PARTE DE ESTAS CONDICIONES DE USO SERÁ INTERPRETADA DE FORMA QUE
EXCLUYA O LIMITE TU RESPONSABILIDAD CON RESPECTO A CUALQUIER
INDEMNIZACIÓN DE TU PARTE EN ESTAS CONDICIONES DE USO. ES POSIBLE
QUE LA LEY APLICABLE NO PERMITA LA LIMITACIÓN O EXCLUSIÓN DE
RESPONSABILIDAD O DAÑOS Y PERJUICIOS INCIDENTALES O EMERGENTES, POR
LO QUE LA LIMITACIÓN O EXCLUSIÓN ANTERIOR PUEDE NO APLICARSE A
USTED. EN ESTOS CASOS, LA RESPONSABILIDAD DE Dnarity SE LIMITARÁ EN
LA MEDIDA MÁXIMA PERMITIDA POR LAS LEYES APLICABLES.</span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt"><span lang="es-419">ÚNICAMENTE
PARA LOS USUARIOS UBICADOS EN EL ÁREA ECONÓMICA EUROPEA (EEA) Y/O
AUSTRALIA, NO HAY NADA EN LAS PRESENTES CONDICIONES DE USO QUE
EXCLUYA O LIMITE NUESTRA RESPONSABILIDAD O LA SUYA (SEGÚN
CORRESPONDA) RESPECTO DE:</span></font>
        </font>
      </p>
      <ul>
        <li/>
        <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt"><span lang="es-419">MUERTE
	O DAÑOS CORPORALES DERIVADOS COMO RESULTADO DE NUESTRA NEGLIGENCIA
	O LA SUYA (SEGÚN CORRESPONDA);</span></font>
          </font>
        </p>
        <li/>
        <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt"><span lang="es-419">FRAUDE
	(INCLUIDA LA DECLARACIÓN FRAUDULENTA), ROBO U OTRO ACTO DELICTIVO O</span></font>
          </font>
        </p>
        <li/>
        <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt"><span lang="es-419">CUALQUIER
	INCUMPLIMIENTO DE LAS OBLIGACIONES IMPLÍCITAS EN EL ARTÍCULO 12 DE
	LA LEY 1979 SOBRE VENTA DE PRODUCTOS O ARTÍCULO 2 DE LA LEY 1982
	SOBRE SUMINISTRO DE PRODUCTOS Y SERVICIOS.</span></font>
          </font>
        </p>
      </ul>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="4" style="font-size: 13pt"><span lang="es-419"><b>Legislación
aplicable.</b></span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt"><span lang="es-419">Una
versión impresa de estas Condiciones de uso y de cualquier
notificación dada en forma electrónica será admisible en
procedimientos judiciales o administrativos basados en estas
Condiciones de uso, o relacionados con estas, en la misma medida y
las mismas condiciones que otros documentos y registros comerciales
originalmente generados y mantenidos en forma impresa. Tú y Dnarity
aceptan que cualquier causa de demanda que surja del Servicio, o esté
relacionada con este, debe comenzar dentro del primer (1) año
después de surgida dicha causa; de lo contrario, la causa de la
demanda será anulada de forma permanente.</span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt"><span lang="es-419">Excepto
para los usuarios ubicados en el EEA y/o Australia, se aplicarán las
siguientes disposiciones legales y de arbitraje:</span></font>
        </font>
      </p>
      <ul>
        <li/>
        <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt"><span lang="es-419">Estas
	Condiciones de uso se regirán e interpretarán de acuerdo con las
	leyes del Estado de Nueva York, excluyendo sus conflictos de leyes,
	y de los Estados Unidos de América. Para todos los efectos de estas
	Condiciones de uso, las partes acuerdan competencia y jurisdicción
	exclusiva en los Tribunales Federales o los Tribunales Estatales de
	los Estados Unidos ubicados en el Distrito Sur de Nueva York. El uso
	del Servicio no está autorizado en ninguna jurisdicción que no
	haga efectivas todas las disposiciones de estas Condiciones de uso,
	incluyendo, sin carácter restrictivo, esta sección. Si estás
	aceptando estas Condiciones de uso en nombre de una entidad del
	gobierno federal de Estados Unidos que es legalmente incapaz de
	aceptar las cláusulas de competencia y jurisdicción de la ley
	aplicable anteriores, entonces esas cláusulas no se aplican a ti,
	sino que estas Condiciones y toda acción relacionada con estas se
	regirá por las leyes de los Estados Unidos de América (sin
	referencia al conflicto de leyes) y, en ausencia de la ley federal y
	en la medida permitida por la ley federal, las leyes del Estado de
	Nueva York (con exclusión de la elección de las leyes aplicables).</span></font>
          </font>
        </p>
      </ul>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt"><span lang="es-419">Únicamente
para los usuarios ubicados en el EEA y/o Australia, se aplicarán las
siguientes disposiciones legales:</span></font>
        </font>
      </p>
      <ul>
        <li/>
        <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
          <font face="Times New Roman, serif">
            <font size="3" style="font-size: 12pt"><span lang="es-419">Estas
	Condiciones de uso y los litigios o demandas que surjan de estas, o
	en conexión con estas, se regirán e interpretarán de conformidad
	con las leyes de Inglaterra. Todas los litigios o demandas que
	surjan de estas Condiciones de uso, o en relación con estas,
	estarán sujetos a la jurisdicción exclusiva de los tribunales
	ingleses a los que las Partes se someten irrevocablemente.</span></font>
          </font>
        </p>
      </ul>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="4" style="font-size: 13pt"><span lang="es-419"><b>Uso
del Gobierno.</b></span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt"><span lang="es-419">El
uso, duplicación, reproducción, publicación, modificación,
revelación o transferencia del software, la aplicación o widget
está restringido de conformidad con el Reglamento Federal de
Adquisiciones según se aplica a los organismos civiles y con el
Suplemento a la Normativa de Adquisición Federal del Departamento de
Defensa tal como se aplica a los organismos militares. Cualquiera de
estos softwares, aplicaciones o widgets son un &quot;artículo
comercial&quot;, &quot;software informático comercial&quot; y
&quot;documentación de software comercial&quot;. En conformidad con
tales disposiciones, el uso de dicho software, aplicación o widget
se regirá exclusivamente por estas Condiciones de uso.</span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="4" style="font-size: 13pt"><span lang="es-419"><b>Integración
e indivisibilidad.</b></span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt"><span lang="es-419">Estas
Condiciones de uso constituyen el acuerdo completo entre tú y
Dnarity con respecto al Servicio y uso del Sitio, Servicio,
Contenido, Publicaciones del usuario o Enlace \&quot;Encontré un
producto”y sustituyen todas las comunicaciones y propuestas previas
o contemporáneas (ya sean escritas, orales o electrónicas) entre tú
y Dnarity con respecto al Sitio. Si alguna disposición de estas
Condiciones de uso se considera inaplicable o inválida, dicha
disposición será limitada o eliminada en la medida mínima
necesaria para que estas Condiciones de uso permanezcan en pleno
vigor y efecto y de obligado cumplimiento. Si alguna de las partes no
llegara a ejercer en modo alguno algún derecho previsto en dichas
Condiciones, ello no se considerará una renuncia de los otros
derechos establecidos en este documento. La exención del
cumplimiento en algún caso particular no significa que renunciaremos
al cumplimiento en el futuro. Para que una exención de cumplimiento
con estas Condiciones de uso sea vinculante, Dnarity debe entregarte
a ti una notificación escrita de dicha exención a través de un
representante autorizado.</span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="4" style="font-size: 13pt"><span lang="es-419"><b>Modificación
de las Condiciones de uso.</b></span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt"><span lang="es-419">Dnarity
se reserva el derecho, a su entera discreción, de modificar o
sustituir cualquiera de estas condiciones de uso, o modificar,
suspender o interrumpir el Servicio (incluyendo, entre otros, la
disponibilidad de alguna característica, base de datos o contenido)
en cualquier momento, publicando un aviso en el Sitio o enviándote
una notificación a través del Servicio o por correo electrónico.
Dnarity también puede imponer límites a ciertas características y
servicios o restringir tu acceso a partes o a todo el Servicio sin
previo aviso u obligación. Es tu responsabilidad revisar estas
condiciones de uso periódicamente para ver si hay cambios. Tu uso
continuado del Servicio después de la publicación de cualquier
cambio a estas condiciones de uso constituye la aceptación de dichos
cambios.</span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="4" style="font-size: 13pt"><span lang="es-419"><b>Cancelación
de estas Condiciones de uso</b></span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt"><span lang="es-419">Con
respecto a los usuarios situados en el EEA que deseen recibir los
Servicios, y/o proveer Publicaciones de usuario y/o proveer o acceder
al Contenido a través del Sitio, dichos usuarios podrán tener el
derecho a cancelar estas Condiciones de uso en virtud de la Directiva
Europea de Venta a Distancia (97/7/EC) (&quot;Directiva&quot;) dentro
de los 7 días de la aceptación de estas Condiciones de uso
exclusivamente en la medida en que dicho derecho se aplique en la
Directiva a dichos usuarios, salvo que si dicho derecho a cancelar se
aplica, éste dejará de existir desde el momento del uso real de los
Servicios, y/o la prestación de las Publicaciones del usuario y/o la
prestación o el acceso de Contenido a través del Sitio por parte de
dichos usuarios.</span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="4" style="font-size: 13pt"><span lang="es-419"><b>Varios.</b></span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt"><span lang="es-419">Dnarity
no se hace responsable del incumplimiento de sus obligaciones en
virtud de las presentes Condiciones, cuando dicho incumplimiento se
deba a una causa que supere el control razonable de Dnarity,
incluidas entre otros, fallas mecánicas, electrónicas o de
comunicaciones o degradación (incluidas las fluctuaciones
eléctricas). Estas Condiciones de uso son personales, y no se pueden
ceder, transferir ni sublicenciar, excepto con el consentimiento
previo por escrito de Dnarity. Dnarity podrá ceder, transferir o
delegar cualquiera de sus derechos y obligaciones en virtud de estas
Condiciones sin tu consentimiento. No se crea ninguna representación,
asociación, empresa conjunta ni relación de trabajo como resultado
de estas Condiciones de uso y ninguna de las partes tiene autoridad
alguna para obligar a la otra en ningún aspecto. </span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt"><span lang="es-419">A
menos que se especifique lo contrario en estas Condiciones de uso,
todos los avisos en virtud de dichas Condiciones de uso serán por
escrito y serán considerados debidamente entregados cuando se
reciban, si se han entregado personalmente o se han enviado por
correo certificado o registrado con acuso de recibo; cuando la
recepción se confirma en forma electrónica, si se transmiten por
fax o email o al día siguiente de su envío, si se envían para
entrega al día siguiente a través de un servicio reconocido de
entrega de la noche a la mañana.</span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt"><span lang="es-419">Únicamente
con respeto a los usuarios situados en el EEA y/o Australia, en
relación con estas Condiciones de uso y tu uso de este Sitio,
Servicio, Contenido, Publicaciones del usuario o Enlace &quot;Agregar
a&quot;, ninguna parte de estas Condiciones de uso será interpretada
de forma que se ceden derechos o beneficios a otras personas, que no
seamos nosotros y tú (y nuestros respectivos derechohabientes y
cesionarios, y los tuyos), o que se confiere derecho a un tercero
para hacer cumplir alguna de las disposiciones de este documento, y
tanto nosotros como tú, aceptamos que no tenemos la intención de
que ninguna de las disposiciones de estas Condiciones de uso deban
ser exigibles por un tercero en virtud de la Ley de contratos
(Derechos de terceros) de 1999.</span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="4" style="font-size: 13pt"><span lang="es-419"><b>Idioma.</b></span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt"><span lang="es-419">Donde
Dnarity te haya proporcionado una traducción de la versión en
inglés de estas Condiciones de uso, aceptas que la traducción se
proporciona únicamente para tu conveniencia y que regirán las
versiones en idioma inglés de las Condiciones en tu relación con
Dnarity.</span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt"><span lang="es-419">Si
hay alguna contradicción entre lo que dice la versión en inglés de
estas Condiciones de uso y lo que dice la traducción, siempre
prevalecerá la versión en inglés.</span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="4" style="font-size: 13pt"><span lang="es-419"><b>Contacto.</b></span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt"><span lang="es-419">Puedes
ponerte en contacto con Dnarity en la siguiente dirección de
correo: info@dnarity.com</span></font>
        </font>
      </p>
      <p style="margin-top: 4.94mm; margin-bottom: 4.94mm; line-height: 100%">
        <font face="Times New Roman, serif">
          <font size="3" style="font-size: 12pt"><span lang="es-419"><b>Fecha
de vigencia: Diciembre 2016</b></span></font>
        </font>
      </p>
      <p style="margin-bottom: 3.53mm; line-height: 115%"><br/>
    </div>
  </div>
</div>
