<div class="card">
  <h3 class="card-header"><%= @provider.name %></h3>
  <img class="card-img-top" style="width:100%" alt="item" src="/images/items/<%= @item.id %>.jpg"/>
  <div class="card-block">
    <h4 class="card-title"><%= @item.name %></h4>
    <hr class="m-1"/>
    <div class="card-text dna-item-description">
      <%= markdown(@item.description) %>
    </div>
    <div>
      <hr class="m-1"/>
      <%= if get_certificate_state(@certificate) == :owned do %>
        <div>
          <span>Esta pieza ya pertenece a una colección privada</span>
        </div>
      <%= end %>
      <%= if get_certificate_state(@certificate) == :new do %>
        <div>
        <span>Si eres el afortunado dueño de esta pieza, </span>
          <%= link "Regístrala en tu Colección", to: registration_path(@conn, :show, @certificate) %>
      </div>
     <%= end %>
    </div>
  </div>
</div>
