<h2>Edit certificate</h2>

<%= render "form.html", changeset: @changeset,
                        action: certificate_path(@conn, :update, @certificate) %>

<%= link "Back", to: certificate_path(@conn, :index) %>
