<%= form_for @changeset, @action, fn f -> %>
  <div class="mdl-grid mdl-color--white">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= label f, :batch_id, class: "mdl-textfield__label" %>
      <%= text_input f, :batch_id, class: "mdl-textfield__input" %>
      <%= error_tag f, :batch_id %>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= label f, :item_id, class: "mdl-textfield__label" %>
      <%= text_input f, :item_id, class: "mdl-textfield__input" %>
      <%= error_tag f, :item_id %>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= label f, :status, class: "mdl-textfield__label" %>
      <%= text_input f, :status, class: "mdl-textfield__input" %>
      <%= error_tag f, :status %>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= label f, :dnaritag, class: "mdl-textfield__label" %>
      <%= text_input f, :dnaritag, class: "mdl-textfield__input" %>
      <%= error_tag f, :dnaritag %>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= submit "Submit", class: "mdl-button" %>
    </div>
  </div>
<% end %>
