<div class="mdl-card__title mdl-color--grey-200">
  <span class="dna-center">
    <h2 class="mdl-card__title-text">Listing Certificates</h2>
  </span>
</div>

<div class="dna-card__content mdl-card__supporting-text">
  <table class="dna-table mdl-data-table mdl-js-data-table">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Batch</th>
        <th class="mdl-data-table__cell--non-numeric">Item</th>
        <th class="mdl-data-table__cell--non-numeric">User</th>
        <th class="mdl-data-table__cell--non-numeric">Status</th>
        <th class="mdl-data-table__cell--non-numeric">Dnaritag</th>

        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= for certificate <- @certificates do %>
        <tr>
          <td class="mdl-data-table__cell--non-numeric"><%= certificate.batch_id %></td>
          <td class="mdl-data-table__cell--non-numeric"><%= certificate.item_id %></td>
          <td class="mdl-data-table__cell--non-numeric"><%= certificate.user_id %></td>
          <td class="mdl-data-table__cell--non-numeric"><%= certificate.status %></td>
          <td class="mdl-data-table__cell--non-numeric"><%= certificate.dnaritag %></td>

          <td class="text-right">
            <%= link "Show", to: certificate_path(@conn, :show, certificate), class: "btn btn-default btn-xs" %>
            <%= link "Edit", to: certificate_path(@conn, :edit, certificate), class: "btn btn-default btn-xs" %>
            <%= link "Delete", to: certificate_path(@conn, :delete, certificate), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="mdl-color--grey-100 mdl-card__actions mdl-card--border">
  <%= link "New certificate", to: certificate_path(@conn, :new), class: "mdl-button" %>
</div>
