<link rel="stylesheet" href='<%= "/css/page/index.css" %>'>
<%= render Dnaritag.PageView, "header.html", conn: @conn %>
<div class="container dna-vertical-container">
  <div class="dna-vertical-container row align-items-center">
    <div class="col">
    </div>
    <div class="col-12 col-md-6">
      <div class="card">
        <div class="card-header">
          <h4>Inscríbete en Dnaritag</h4>
        </div>
        <div class="card-block">
          <div class="form-group">
            <%= link "Regístrate con Facebook", to: "/auth/facebook", class: "btn btn-block btn-secondary", id: "facebook" %>
            <div class="my-2"></div>
            <%= link "Regístrate con Google", to: "/auth/google", class: "btn btn-block btn-secondary", id: "google" %>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
    </div>
  </div>
</div>
