@import "bootstrap";

  /* xs: 0, */
  /* sm: 576px, */
  /* md: 768px, */
  /* lg: 992px, */
  /* xl: 1200px */

  /* sm: 540px, */
  /* md: 720px, */
  /* lg: 960px, */
  /* xl: 1140px */

$tiny-screen: "screen and (max-height: 480px)";
$small-screen: "screen and (max-height: 640px)";
$medium-screen: "screen and (max-height: 768px)";
$large-screen: "screen and (max-height: 1080px)";
$huge-screen: "screen and (min-height: 1200px)";

.dna-tagline-container {
  margin-top: 25%;
}

.dna-tagline {
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px #212121;
}

.alert:empty {
  display: none;
}

.dna-vertical-container {
  height: calc(100vh - 10px);
  @include media-breakpoint-up(sm) {
    height: calc(100vh - 20px);
  }
  @include media-breakpoint-up(md) {
    height: calc(100vh - 30px);
  }
  @include media-breakpoint-up(lg) {
    height: calc(100vh - 40px);
  }
  @include media-breakpoint-up(xl) {
    height: calc(100vh - 50px);
  }
}

.dna-item-description {
  overflow-y: scroll;
  @media #{$huge-screen} {
    max-height: 480px;
  }
  @media #{$large-screen} {
    max-height: 380px;
  }
  @media #{$medium-screen} {
    max-height: 210px;
  }
  @media #{$small-screen} {
    max-height: 190px;
  }
  @media #{$tiny-screen} {
    max-height: 130px;
  }
}