@import 'bootstrap';

$bg-color: #000;
$fg-color: #fff;

#dna-collection-list {
  padding: 0;
}

#dna-collection-list> li {
  margin: 11px;
  position: relative;
  overflow: hidden;
  display: inline-flex;
  list-style-type: none;
  cursor: pointer;
  z-index: 20000;
}

.square {
 float: left;
 margin: 7px;
 height: 30px;
 width: 30px;
 @include media-breakpoint-up(sm) {
   margin: 8px;
   height: 35px;
   width: 35px;
 }
 @include media-breakpoint-up(md) {
   margin: 8px;
   height: 40px;
   width: 40px;
 }
 @include media-breakpoint-up(lg) {
   margin: 10px;
   height: 55px;
   width: 55px;
 }
 @include media-breakpoint-up(xl) {
   margin: 10px;
   height: 60px;
   width: 60px;
 }
}

.dna-fillable {
  border: 2px solid gainsboro;
}

.dna-selected-square {
  background-color: gainsboro;
}

svg {
  fill: $fg-color;
  height: 20px;
  width: 20px;
}