<%= form_for @changeset, @action, fn f -> %>
  <div class="dna-card__content mdl-card__supporting-text">
    <div class="mdl-grid mdl-color--white">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= label f, :provider_id, class: "mdl-textfield__label" %>
        <%= select f, :provider_id, providers_for_select(@providers), class: "mdl-textfield__input" %>
        <%= error_tag f, :provider_id %>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= label f, :name, class: "mdl-textfield__label" %>
        <%= text_input f, :name, class: "mdl-textfield__input" %>
        <%= error_tag f, :name %>
      </div>
    </div>

    <div class="mdl-grid mdl-color--white">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= label f, :description, class: "mdl-textfield__label" %>
        <%= textarea f, :description, class: "mdl-textfield__input" %>
        <%= error_tag f, :description %>
      </div>
    </div>

  </div>

  <div class="mdl-color--grey-100 mdl-card__actions mdl-card--border">
    <%= submit "Submit", class: "mdl-button" %>
  </div>
<% end %>
