<div class="mdl-card__title mdl-color--grey-200">
  <span class="dna-center">
    <h2 class="mdl-card__title-text">Listing Items</h2>
  </span>
</div>
<div class="dna-card__content mdl-card__supporting-text">
  <table class="dna-table mdl-data-table mdl-js-data-table"> <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Name</th>
      <th class="mdl-data-table__cell--non-numeric">Description</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= for item <- @items do %>
      <tr>
        <td class="mdl-data-table__cell--non-numeric"><%= item.name %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= short_description item %></td>

        <td class="text-right">
          <%= link "Show", to: item_path(@conn, :show, item), class: "btn btn-default btn-xs" %>
          <%= link "Edit", to: item_path(@conn, :edit, item), class: "btn btn-default btn-xs" %>
          <%= link "Delete", to: item_path(@conn, :delete, item), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>
<div class="mdl-color--grey-100 mdl-card__actions mdl-card--border">
  <%= link "New item", to: item_path(@conn, :new), class: "mdl-button" %>
</div>
