<div class="mdl-card__title mdl-color--grey-200">
  <span class="dna-center">
    <h2 class="mdl-card__title-text">New Item</h2>
  </span>
</div>

<%= render "form.html", changeset: @changeset,
  action: item_path(@conn, :create), providers: @providers %>
