<style>
 .dna-item {
   margin-top: 60px;
   min-height: 400px;
 }
</style>

<div class="dna-item-content dna-item mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-color--grey-200">
    <span class="dna-center">
      <h2 class="mdl-card__title-text"><%= @item.name %></h2>
    </span>
  </div>
  <div class="mdl-color--white" style="height:100%">
    <div class="mdl-grid">
      <div class="dna-center mdl-cell mdl-cell--5-col mdl-cell--4-col-phone">
        <img class="dna-item-image" alt="item" src="/images/items/<%= @item.id %>.jpg"/>
      </div>
      <div class="mdl-cell mdl-cell--7-col mdl-cell--4-col-phone mdl-color--white">
        <%= @item.description %>
      </div>
    </div>
  </div>
  <div class="dna-center mdl-card__actions mdl-card--border">
    <%= link "Edit", to: item_path(@conn, :edit, @item), class: "mdl-button mdl-js-button mdl-button--primary" %>
    <%= link "Back", to: item_path(@conn, :index), class: "mdl-button mdl-js-button mdl-button--primary" %>
    <input id="provider_id" type="hidden" value="<%= @item.provider.id %>" />
  </div>
</div>
