<%= form_for @changeset, @action, fn f -> %>
<div class="dna-card__content mdl-card__supporting-text">
  <div class="mdl-grid mdl-color--white">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= label f, :item_id, class: "mdl-textfield__label" %>
      <%= select f, :item_id, items_for_select(@items), class: "mdl-textfield__input" %>
      <%= error_tag f, :item_id %>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= label f, :tags, class: "mdl-textfield__label" %>
      <%= textarea f, :tags, class: "mdl-textfield__input" %>
      <%= error_tag f, :tags %>
    </div>
  </div>
</div>

<div class="mdl-color--grey-100 mdl-card__actions mdl-card--border">
  <%= submit "Submit", class: "mdl-button" %>
</div>
<% end %>
