body {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url("/images/providers/d0a7ddc1-39cf-470a-bb39-e4a3bf59ec94/768x768.jpg");
}

@media screen and (min-width: 768px) {
  body {
    background-image: url("/images/providers/d0a7ddc1-39cf-470a-bb39-e4a3bf59ec94/992x992.jpg");
  }
}

@media screen and (min-width: 992px) {
  body {
    background-image: url("/images/providers/d0a7ddc1-39cf-470a-bb39-e4a3bf59ec94/1200x1200.jpg");
  }
}

@media screen and (min-width: 1200px) {
  body {
    background-image: url("/images/providers/d0a7ddc1-39cf-470a-bb39-e4a3bf59ec94/1920x1200.jpg");
  }
}

.dna-certificate {
  background-color: #1d1d1b;
}

.square-0 {
  background-image: url("/images/providers/d0a7ddc1-39cf-470a-bb39-e4a3bf59ec94/icons/0.svg");
}

.square-1 {
  background-image: url("/images/providers/d0a7ddc1-39cf-470a-bb39-e4a3bf59ec94/icons/1.svg");
}

.square-2 {
  background-image: url("/images/providers/d0a7ddc1-39cf-470a-bb39-e4a3bf59ec94/icons/2.svg");
}

.square-3 {
  background-image: url("/images/providers/d0a7ddc1-39cf-470a-bb39-e4a3bf59ec94/icons/3.svg");
}

.square-4 {
  background-image: url("/images/providers/d0a7ddc1-39cf-470a-bb39-e4a3bf59ec94/icons/4.svg");
}

.square-5 {
  background-image: url("/images/providers/d0a7ddc1-39cf-470a-bb39-e4a3bf59ec94/icons/5.svg");
}

.square-6 {
  background-image: url("/images/providers/d0a7ddc1-39cf-470a-bb39-e4a3bf59ec94/icons/6.svg");
}

.square-7 {
  background-image: url("/images/providers/d0a7ddc1-39cf-470a-bb39-e4a3bf59ec94/icons/7.svg");
}

.square-8 {
  background-image: url("/images/providers/d0a7ddc1-39cf-470a-bb39-e4a3bf59ec94/icons/8.svg");
}

.square-9 {
  background-image: url("/images/providers/d0a7ddc1-39cf-470a-bb39-e4a3bf59ec94/icons/9.svg");
}