<nav class="navbar navbar-toggleable-sm navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#dna_nav"
    aria-controls="dna_nav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">
    <img class="d-inline-block align-top" width="40px;" alt="Dnaritag" src="/images/logo.png"/>
    Dnaritag
  </a>
  <div class="collapse navbar-collapse" id="dna_nav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="http://www.dnarity.com">Dnarity</a>
      </li>
      <li class="nav-item">
        <%= link "Salir", to: auth_path(@conn, :delete), method: :delete, class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>
