body {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url("/images/providers/fe014b00-c4b7-4a94-8984-29ea5165441f/768x768.jpg");
}

@media screen and (min-width: 768px) {
  body {
    background-image: url("/images/providers/fe014b00-c4b7-4a94-8984-29ea5165441f/992x992.jpg");
  }
}

@media screen and (min-width: 992px) {
  body {
    background-image: url("/images/providers/fe014b00-c4b7-4a94-8984-29ea5165441f/1200x1200.jpg");
  }
}

@media screen and (min-width: 1200px) {
  body {
    background-image: url("/images/providers/fe014b00-c4b7-4a94-8984-29ea5165441f/1920x1200.jpg");
  }
}

.logo-provider {
  background-image: url("/images/providers/fe014b00-c4b7-4a94-8984-29ea5165441f/logo.svg");
}

.dna-certificate {}

.square-0 {
  background-image: url("/images/providers/fe014b00-c4b7-4a94-8984-29ea5165441f/icons/0.svg");
}

.square-1 {
  background-image: url("/images/providers/fe014b00-c4b7-4a94-8984-29ea5165441f/icons/1.svg");
}

.square-2 {
  background-image: url("/images/providers/fe014b00-c4b7-4a94-8984-29ea5165441f/icons/2.svg");
}

.square-3 {
  background-image: url("/images/providers/fe014b00-c4b7-4a94-8984-29ea5165441f/icons/3.svg");
}

.square-4 {
  background-image: url("/images/providers/fe014b00-c4b7-4a94-8984-29ea5165441f/icons/4.svg");
}

.square-5 {
  background-image: url("/images/providers/fe014b00-c4b7-4a94-8984-29ea5165441f/icons/5.svg");
}

.square-6 {
  background-image: url("/images/providers/fe014b00-c4b7-4a94-8984-29ea5165441f/icons/6.svg");
}

.square-7 {
  background-image: url("/images/providers/fe014b00-c4b7-4a94-8984-29ea5165441f/icons/7.svg");
}

.square-8 {
  background-image: url("/images/providers/fe014b00-c4b7-4a94-8984-29ea5165441f/icons/8.svg");
}

.square-9 {
  background-image: url("/images/providers/fe014b00-c4b7-4a94-8984-29ea5165441f/icons/9.svg");
}